.DS_Store
.nyc_output
.project
.settings/*
.vscode/*
*.swo
*.swp
*tmp*
*tmp*.*
bower_components
bower-package
build
coverage
jsdoc
node_modules
npm-debug.log
siteverification.id
src/*favicon-*.png
src/*tmp*.*
src/favicon.ico
doc/samples/*bundle*
tmp_*.md
tracking.*
