.DS_Store
.project
.settings/*
*.swo
*.swp
*tmp*
*tmp*.*
bower_components
bower-package
build
coverage
jsdoc
node_modules
npm-debug.log
platoreports
siteverification.id
src/*favicon-*.png
src/*tmp*.*
src/favicon.ico
tmp_*.md
tracking.*
