* text eol=lf

*.ts linguist-language=TypeScript
dist/** linguist-generated
src/parse/mscgenparser.js linguist-generated
src/parse/msgennyparser.js linguist-generated
src/parse/xuparser.js linguist-generated
