.DS_Store
.nyc_output
.project
.settings/*
*.swo
*.swp
*tmp*
*tmp*.*
bower_components
bower-package
build
coverage
jsdoc
node_modules
npm-debug.log
siteverification.id
src/*favicon-*.png
src/*tmp*.*
src/favicon.ico
tmp_*.md
tracking.*

.bithoundrc
.codeclimate.yml
.dependency-cruiser.json
.eslintignore
.eslintrc.json
.gitlab-ci.yml
.travis.yml
CODE_OF_CONDUCT.md
Makefile
tslint.json
.github
config
doc
test
utl
