sudo: required

language: node_js

node_js:
  - "10"
  - "12"
  - stable

install:
  - npm install

before_script:
  - "if test `node --version | cut -c 2,3` = 14; then curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter ; fi"
  - "if test `node --version | cut -c 2,3` = 14; then chmod +x ./cc-test-reporter ; fi"
  - "if test `node --version | cut -c 2,3` = 14; then ./cc-test-reporter before-build ; fi"

script:
  - npm run build
  - "if test `node --version | cut -c 2,3` = 14; then npm run check:full; else npm run check:ci; fi"

after_script:
  - "if test `node --version | cut -c 2,3` = 14; then ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT; fi"

branches:
  except:
    - gh-pages

cache:
  directories:
    - node_modules

addons:
  code_climate:
    repo_token: $CODECLIMATE_REPO_TOKEN
