.<%=id%> text.entity-text{
    text-decoration:none
}
.<%=id%> .entity{
    stroke:none;
}
.<%=id%> line,.<%=id%> rect,.<%=id%> path{
    stroke-width:1px
}
.<%=id%> .arrow-style{
    stroke-width:2;
}
.<%=id%> .inline_expression,
    .<%=id%> .inline_expression_divider,
    .<%=id%> .inline_expression_label{
        stroke-width: 1px
}
