.<%=id%> line{
    stroke:#00A1DE
}
.<%=id%> text{
    fill:#005B82
}
.<%=id%> rect.entity,.<%=id%> rect.box,.<%=id%> path.box{
    fill:#00A1DE;
    stroke:#00A1DE
}
.<%=id%> text.box-text{
    fill:white
}
.<%=id%> text.entity-text{
    font-weight:bold;
    fill:white;
    text-decoration:none
}
.<%=id%> text.return-text{
    font-style:italic
}
.<%=id%> path.note{
    fill:#E77B2F;
    stroke:white
}
.<%=id%> line.comment,
    .<%=id%> rect.inline_expression,
    .<%=id%> .inline_expression_divider,
    .<%=id%> path.inline_expression_label{
    fill:white
}
