svg.<%=id%>{
    font-family:cursive;
    stroke-opacity:0.4;
    stroke-linecap:round
}
.<%=id%> text{
    fill:rgba(0,0,128,0.8)
}
.<%=id%> marker polygon{
    fill:rgba(0,0,255,0.4);
    stroke-linejoin:round
}
.<%=id%> line, .<%=id%> path, .<%=id%> rect, .<%=id%> polygon{
    stroke:blue !important
}
.<%=id%> text.entity-text{
    font-weight:bold;
    text-decoration:none
}
.<%=id%> text.return-text{
    font-style:italic
}
.<%=id%> path.note{
    fill:#FFFFCC;
}
.<%=id%> rect.label-text-background{
    opacity:0
}
.<%=id%> line.comment,
    .<%=id%> rect.inline_expression,
    .<%=id%> .inline_expression_divider,
    .<%=id%> .inline_expression_label{
    stroke:black
}
