.<%=fenceClass%> line{
    stroke:rgba(0, 43, 84, 1)
}
.<%=fenceClass%> text{
    fill:rgba(0, 43, 84, 1)
}
.<%=fenceClass%> rect.entity,.<%=fenceClass%> rect.box,.<%=fenceClass%> path.box{
    fill:rgba(0, 43, 84, 1);
    stroke:rgba(0, 43, 84, 1)
}
.<%=fenceClass%> text.box-text{
    fill:white
}
.<%=fenceClass%> text.entity-text{
    font-weight:bold;
    fill:white;
    text-decoration:none
}
.<%=fenceClass%> text.return-text{
    font-style:italic
}
.<%=fenceClass%> path.note{
    fill:rgba(255, 50, 0, 1);stroke:white
}
.<%=fenceClass%> line.comment,
    .<%=fenceClass%> rect.inline_expression,
    .<%=fenceClass%> .inline_expression_divider,
    .<%=fenceClass%> path.inline_expression_label{
    fill:white
}
